---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/hero.webp";
import blomst_stor from "../assets/images/blomst_stor.svg";
import blomst_lille from "../assets/images/blomst_lille.svg";
import pil from "../assets/images/pil.svg";
import border from "../assets/images/border.svg";
---

<MainLayout title="Trines Personlige Professionelle Profil">
  <section class="grid md:grid-cols-2">
    <Image class="border-8 border-white rotate-[-13deg] m-auto md:order-2 w-80 md:w-96" src={hero} alt="" />
    <article class="content-center pt-8">
      <div class="flex flex-row relative z-10 whitespace-nowrap"><h1 class="text-6xl lg:text-8xl text-[#252020] pb-3">UX/UI Designer</h1><Image class="flex-shrink-0 mb-[14px] ml-[-14px]" src={blomst_lille} alt="" /></div>
      <Image class="w-[625px] mt-[-20px]" src={border} alt="" />
      <p class="text-lg text-[#252020] prose pt-6">Mit navn er Trine, jeg er 27 år og studerer multimediedesign på Københavns Erhvervsakademi. Jeg har en stor interesse for UX design og gennemføre brugerundersøgelser og brugertest, samt udvikle grafiske designs. Jeg ser frem til at blive en del af et team, hvor jeg kan udvikle mine kompetencer og bidrage med kreative og brugervenlige løsninger.</p>
    </article>
  </section>

  <div class="flex justify-start"><Image class="absolute flex-shrink-0" src={blomst_stor} alt="" /></div>
  <section class="mt-32 mb-56 max-w-7xl mx-auto">
    <div class="flex flex-row justify-center mb-12"><h2 class="text-6xl text-[#252020] text-center">Kvalifikationer</h2><Image class="flex-shrink-0 mt-11" src={pil} alt="" /></div>
    <div class="flex justify-center mr-24 mt-[-100px]"><Image class="w-[350px]" src={border} alt="" /></div>
    <div class="grid md:grid-cols-4 gap-10 mt-24 mitelement">
      <div class="grid justify-center md:mb-10">
        <Card titel="Programmer" liste1="Figma" liste2="Illustrator" liste3="Lightroom" liste4="Photoshop" />
      </div>

      <div class="grid justify-center md:mt-10">
        <Card titel="Sprog" liste1="HTML" liste2="CSS" liste3="JavaScript" />
      </div>

      <div class="grid justify-center md:mb-10">
        <Card titel="Emner" liste1="UX" liste2="Grafisk design" liste3="Projektstyring?" />
      </div>

      <div class="grid justify-center md:mt-10">
        <Card titel="Tekniske færdigheder" liste1="Prototyping" liste2="Bruger undersøgelser" liste3="Design konventioner" liste4="Design systemer" />
      </div>
    </div>
  </section>

  <section class="mb-56 overflow-hidden">
    <div class="flex flex-row justify-center mb-12 relative z-10"><h2 class="text-6xl text-[#252020] text-center">Erfaringer</h2><Image class="flex-shrink-0 mt-11" src={pil} alt="" /></div>
    <div class="flex justify-center mr-24 mt-[-105px]"><Image class="w-[250px]" src={border} alt="" /></div>

    <div class="mt-20 flex flex-row justify-center gap-20 min-w-full overflow-x-auto snap-proximity snap-x pl-[1000px] pr-12">
      <div class="snap-align-none flex-shrink-0">
        <img class="w-full h-auto object-cover" src="/img/rank_img.webp" alt="" /><p>Rank Keramik: 2 semester eksamensprojekt</p>
      </div>
      <div class="snap-align-none flex-shrink-0"><img class="w-full h-auto object-cover" src="/img/visit.webp" alt="" /><p>Digitalt Visitkort: 3 semester opgave</p></div>
      <div class="snap-align-none flex-shrink-0"><img class="w-full h-auto object-cover" src="/img/grafik.webp" alt="" /><p>Info grafik: 3 semester</p></div>
    </div>
  </section>
</MainLayout>

<script>
  import { inView } from "motion";

  const inviewelementet = document.querySelector(".mitelement");
  inView(inviewelementet, () => {
    inviewelementet.classList.add("slide-in-bottom");
  });
</script>
