---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/hero.webp";
import rank from "../assets/images/rank_img.webp";
import blomst_stor from "../assets/images/blomst_stor.svg";
import blomst_lille from "../assets/images/blomst_lille.svg";
import pil from "../assets/images/pil.svg";
import border from "../assets/images/border.svg";
---

<MainLayout title="Trines PPP">
  <section class="max-w-7xl mx-auto grid md:grid-cols-2 md:gap-5 items-center md:mt-4">
    <div class="md:col-start-2 md:col-span-1"><Image class="border-8 border-white rotate-[-13deg] m-auto md:order-2 w-80 md:w-96" src={hero} alt="" /></div>
    <article class="grid md:col-start-1 md:row-start-1 mt-10">
      <div class="flex flex-row relative z-10"><h1 class="text-7xl md:text-6xl lg:text-8xl text-[#252020] whitespace-nowrap">UX/UI Designer</h1><Image class="" src={blomst_lille} alt="" /></div>
      <div class="flex mt-[-55px] lg:mt-[-10px]"><Image class="w-[480px] md:w-full" src={border} alt="" /></div>
      <div class=""><p class="text-base lg:text-lg text-[#252020] prose md:pt-6 pb-4">Mit navn er Trine, jeg er 27 år og studerer multimediedesign på Københavns Erhvervsakademi. Jeg har en stor interesse for UX design, gennemfører brugerundersøgelser og brugertest, samt udvikle prototyper.</p></div>
      <div class=""><p class="text-base lg:text-lg text-[#252020] prose">Jeg ser frem til at blive en del af et team, hvor jeg kan udvikle mine kompetencer og bidrage med at udvikle brugervenlige løsninger.</p></div>
    </article>
  </section>

  <div class="flex justify-start"><Image class="hidden md:block absolute flex-shrink-0" src={blomst_stor} alt="" /></div>
  <section class="my-32 max-w-7xl mx-auto">
    <div class="flex flex-row justify-center mb-12"><h2 class="text-6xl text-[#252020] text-center">Kvalifikationer</h2><Image class="flex-shrink-0 mt-11" src={pil} alt="" /></div>
    <div class="flex justify-center mr-24 mt-[-100px]"><Image class="w-[350px]" src={border} alt="" /></div>
    <div class="grid md:grid-cols-4 gap-10 mt-16 md:mt-20 lg:mt-24 md:mx-10 justify-items-center mitelement">
      <div class="mr-5 md:mr-0 md:mb-10">
        <Card titel="Programmer" liste1="Figma" liste2="Illustrator" liste3="Lightroom" liste4="Photoshop" />
      </div>

      <div class="ml-5 md:ml-0 md:mt-10">
        <Card titel="Sprog" liste1="HTML" liste2="CSS" liste3="JavaScript" />
      </div>

      <div class="mr-5 md:mr-0 md:mb-10">
        <Card titel="Emner" liste1="UX" liste2="Grafisk design" liste3="Projektstyring?" />
      </div>

      <div class="ml-5 md:ml-0 md:mt-10">
        <Card titel="Tekniske færdigheder" liste1="Prototyping" liste2="Bruger undersøgelser" liste3="Design konventioner" liste4="Design systemer" />
      </div>
    </div>
  </section>

  <div class="overflow-clip">
    <div class="flex flex-row justify-center mb-12 relative z-10"><h2 class="text-6xl text-[#252020] text-center">Erfaringer</h2><Image class="flex-shrink-0 mt-11" src={pil} alt="" /></div>
    <div class="flex justify-center mr-24 mt-[-105px] mb-40"><Image class="w-[250px]" src={border} alt="" /></div>

    <!-----------------------  Mobile version ----------------------->
    <section id="horisontalscrollsection-mobil" class="h-[80vw] md:h-[100vw] snap-x md:hidden" id="videoonhover" x-data>
      <ul id="horisontalliste-mobil" class="list-none pl-0 flex sticky top-[10vh] gap-20">
        <li class="snap-start pl-0 flex w-[100vw] items-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
          <figure class="flex flex-col w-2/3">
            <video x-ref="hovervideo" muted loop @mouseenter="$refs.hovervideo.play()" @mouseleave="$refs.hovervideo.pause()" @click="$refs.hovervideo.play()">
              <source src="/rankkeramik.mp4" type="video/mp4" />
              <source src="/rankkeramik.webm" type="video/webm" />
            </video><figcaption class="text-sm text-[#252020]">Lars Rank keramik: 2 semester eksamensopgave</figcaption>
          </figure>
        </li>

        <li class="flex w-[100vw] items-center justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
          <figure class="flex flex-col w-2/3">
            <video x-ref="hovervideo2" muted loop @mouseenter="$refs.hovervideo2.play()" @mouseleave="$refs.hovervideo2.pause()">
              <source src="/singleusesucks.mp4" type="video/mp4" />
              <source src="/singleusesucks.webm" type="video/webm" />
            </video><figcaption class="text-sm text-[#252020]">Single Use Sucks: 3 semester caseopgave</figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <!-----------------------  Desktop version ----------------------->
    <section id="horisontalscrollsection" class="h-[80vw] md:h-[100vw] snap-x hidden md:block" id="videoonhover" x-data>
      <ul id="horisontalliste" class="list-none pl-0 flex sticky top-[10vh] gap-20">
        <li class="snap-start pl-0 flex w-[100vw] items-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
          <figure class="flex flex-col w-2/3">
            <video x-ref="hovervideo" muted loop @mouseenter="$refs.hovervideo.play()" @mouseleave="$refs.hovervideo.pause()" @click="$refs.hovervideo.play()">
              <source src="/rankkeramik.mp4" type="video/mp4" />
              <source src="/rankkeramik.webm" type="video/webm" />
            </video><figcaption class="text-sm text-[#252020]">Lars Rank keramik: 2 semester eksamensopgave</figcaption>
          </figure>
        </li>

        <li class="flex w-[100vw] items-center justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
          <figure class="flex flex-col w-2/3">
            <video x-ref="hovervideo2" muted loop @mouseenter="$refs.hovervideo2.play()" @mouseleave="$refs.hovervideo2.pause()">
              <source src="/singleusesucks.mp4" type="video/mp4" />
              <source src="/singleusesucks.webm" type="video/webm" />
            </video><figcaption class="text-sm text-[#252020]">Single Use Sucks: 3 semester caseopgave</figcaption>
          </figure>
        </li>
      </ul>
    </section>
  </div>
</MainLayout>

<script>
  /* Import af Motion One biblioteket */
  import { animate, stagger, inView, scroll, timeline } from "motion";

  // Entrance animation
  animate("body", { opacity: [0, 1] }, { duration: 1 });

  const inviewelementet = document.querySelector(".mitelement");
  inView(inviewelementet, () => {
    inviewelementet.classList.add("slide-in-bottom");
  });

  scroll(
    animate("#horisontalliste-mobil", {
      transform: ["translateX(-500vw)", "translateX(0vw)"],
    }),
    { target: document.querySelector("#horisontalscrollsection-mobil") }
  );

  scroll(
    animate("#horisontalliste", {
      transform: ["none", "translateX(-500vw)"],
    }),
    { target: document.querySelector("#horisontalscrollsection") }
  );
</script>
